{% extends "fieldsight/fieldsight_base1.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block kocript %}

<link rel="stylesheet" href="{% static 'css/toastr.css' %}">
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/plugin/toastr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/App.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/manage_people_site.js"></script>

{% endblock %}

{% block content %}
<div id="main-content" class="padding">

    <div class="span8 col-sm-offset-3 col-sm-8">
      <form class="well" method="post" action=".">
        {% csrf_token %}
        {% for field in form %}        


        <div class="form-group col-md-12">

                    <label class="col-form-label">{{ field.label }}</label>

                                        {{ field|add_class:"form-control" }}
        </div>

        {% endfor %}

        <button type="submit" class="btn large btn-primary square" />{% trans 'Change Password' %}</button>
      </form>
    </div>
</div>








{% endblock %}

