{% extends 'fieldsight_report_base.html' %}
{% load i18n %}

{% block additional-headers %}
{% load i18n %}

<style >
  .same-line{
    display: inline-block;
    padding-right: 10px !important;
  }

  #comment{
    height: auto;
    background: #ebebef !important;
    border-radius: 3px !important;
    padding: 11px;
    margin-left: 20px;
  }

  .gap{
    height: 12px !important;
  }

  .round{
    border-radius: 6px !important;
  }

  .gap-small{
    height: 5px !important;
  }




.header-response{
    display: inline-block;
}

.history-response{
    display: inline-block;
    float: right;
}

.hide{
  display: none;
}


span.active{
  display: block;
  font-weight: 600;
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  color: white;
}


button.rejected{
  background: #ef7351;
  color: white;
}

button.approved{

  background: #8fb949 ;
  color: white;

}


button.flagged{
  background: #e6b007 ;
  color: white;
}



button.pending{
  color: #00c0ef;
  color: white;
}


.status-icon{
  font-size: 20px;
  position: relative;
  top: 4px;
  display: inline-block;
}

.inline{
  display: inline-block;
}

.inline button{
  font-size: 17px;
  padding: 8px 13px;
}

textarea.form-control{
  width: 50%;
}

.btn-head-response{
  background: white !important;
  color: #373737 !important;
  border: 1px solid !important;
  padding: 6px 22px;
}

.btn-head-response:hover {
    background: #00628e !important;
    color: white !important;
}


.rejected-bar{
  background: #ef7351;
}

.pending-bar{
  background: rgb(92, 176, 214);
}

.flagged-bar{
  background:#e6b007;
}

.approved-bar{
  background: #8fb949;
}

.border-left{
  border: 4px solid #2ab8b9 !important;
  border-radius: 8px !important;
}

</style>

<div class="sub-header-bar " id="sub-header-bar">
  <div class="container__wide">
    <div class='row'>
      <div class="header-response col-sm-8 col-md-8 col-xs-12">
       {% if fxf.project %}
              <a href="{% url 'fieldsight:project-dashboard' fxf.project.pk %}">Dashboard</a> |
              <a href="{% url 'forms:project-responses' fxf.project.pk %}">Responses</a> |
              <a href="{% url 'forms:project_html_export' fxf.pk %}">{{ fxf.xf.title }} All Submissions</a>
          {% endif %}

        {% if fxf.site %}
              <a href="{% url 'fieldsight:site-dashboard' fxf.site.pk %}">Dashboard</a> |
              <a href="{% url 'forms:site-responses' fxf.site.pk %}">Responses</a> |
              <a href="{% url 'forms:formpack_html_export' fxf.pk %}">{{ fxf.xf.title }} All Submissions</a>
        {% endif %} 
      </div>
      
      <div class="history-response col-sm-4 col-md-4 col-xs-12" data-bind="with:model">
          
          <button class="btn btn-head-response" data-bind="click:history"> {% trans 'View History ' %}</button>
          
          <span class="title-sm space " style="display:inline-block" >{% trans "current-status:" %}
          </span>
          <div class="status-icon" >
            <span class="approved hide"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
            <span class="rejected hide"><i class="fa fa-window-close" aria-hidden="true"></i></span>
            <span class="pending hide"><i class="fa fa-hourglass-half" aria-hidden="true"></i></span>
            <span class="flagged hide"><i class="fa fa-flag-checkered" aria-hidden="true"></i></span> 
       </div>
     </div>


      </div> 


    <!-- <a href="{% url 'forms:data_view' fxf.pk %}"><i class="fa fa-chevron-left"></i> {% trans "Data View" %}</a> -->
  </div>
</div>

<header class="data-page__header">
    <hgroup class="container">
      <h1>{% trans "Browse Form Data" %}</h1>
    </hgroup>
</header>

{% endblock %}

{% block content %}
{% load i18n %}
<div id="loading">
  <p> {% trans "Loading..." %} </p>
  <img id="loading-image" src="{{STATIC_URL}}images/ajax-loader.gif" alt="Loading..." />
</div>
{% if messages %}
<div>{{messages}}</div>
{% endif %}

<div id="data"></div>

 <div id="delete-modal" class="modal hide fade">
            <div class="modal-header">
              <a data-dismiss="modal" class="close">&times;</a>
              <h3>{% trans "Delete Confirmation" %}</h3>
            </div>
            <div class="modal-body">
              <p>{% trans "Are you sure you want to delete this record. If you are unsure about deleting this record press 'Cancel'." %}</p>
            </div>
            <div class="modal-footer">
              <a href="#" onclick="$('#delete-modal').modal('hide');" class="btn btn-danger">{% trans "Delete" %}</a>
              <a href="#" onclick="$('#delete-modal').modal('hide');" class="btn">{% trans "Cancel" %}</a>
            </div>
          </div>


<div classs="row" data-bind="with:model">

  <div data-bind="with:current_history">
<div class="modal" tabindex="-1" role="dialog" data-bind="modal:$parent.modal_visibility" style="width:60% !important; left:43% !important;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center !important;padding-top: 18px important;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click:$parent.close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title" style="font-size:16px;">{% trans 'Submission Log' %}</span>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-left: 10px;">

            
            <div class="col-md-12" data-bind="foreach:$parent.historyList">
                  <div class="line">
                    <span> 
                      <i class="fa fa-user" aria-hidden="true" style="padding-right:4px !important;"></i>
                      <a href="#">
                        <span data-bind="text:user"></span>
                      </a>
                        changed status from <span data-bind="text:old_status"></span> to <span data-bind="text:new_status"></span>
                     <span style="float:right;"><i class="fa fa-clock-o" aria-hidden="true" ></i>
                          <span data-bind="fieldsightFormatDate: date"></span></span></span>
                  </div>
                  <div id="comment" class="collapse1">
                    <i class="fa fa-comments" aria-hidden="true" style="font-size: 16px;
    margin-right: 12px;"></i><td><span data-bind="text:message"></span></td> 
                  </div>
                  <div data-bind="visible:images.length">
                      <div data-bind="foreach:images">
                          <img style="height: 100px; margin: 5px;" class="img-rounded  thumb" data-bind="attr: { src: image }, visible: image">
                      </div>
                  </div>
                  <hr class="color:black;">
            </div>

        </div>

        
        <button class="btn btn-primary registration__action round" type="submit" data-bind="click:$parent.close" >
            {% trans 'Close' %}</button>
              <div class="gap"></div>



      </div>
    </div>
  </div>
</div>
</div>

  <h3>{% trans 'Review submission' %} </h3>
  {% csrf_token %}
  
    <div class="form-group">
      <textarea class="form-control" rows="7" type="text" data-bind="value:message" placeholder="comment"></textarea>
    </div>

    <h4>Attach images</h4>
          <div class="well" data-bind="fileDrag: multiFileData">
              <div class="form-group row">
                  <div class="col-md-6">
                            <!-- ko foreach: {data: multiFileData().dataURLArray, as: 'dataURL'} -->
                            <img style="height: 100px; margin: 5px;" class="img-rounded  thumb" data-bind="attr: { src: dataURL }, visible: dataURL">
                            <!-- /ko -->
                      <div data-bind="ifnot: multiFileData().fileArray">
                          <label class="drag-label">Drag files here</label>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <input type="file" multiple data-bind="fileInput: multiFileData, customFileInput: {
                        buttonClass: 'btn btn-success',
                        fileNameClass: 'disabled form-control',
                        onClear: onClear,
                      }" accept="image/*">
                  </div>
              </div>
          </div>

    <div class="gap"></div>






<!--     <div class="inline">
      <button type="button" class="btn pending" data-bind="click: function () { saveStatus(0); }"><i class="fa fa-hourglass-half space" aria-hidden="true"></i> Pending </button>
    </div>
 -->    
    <div class="inline">
      <button type="button" class="btn rejected" data-bind="click: function () { saveStatus(1); }"><i class="fa fa-window-close space" aria-hidden="true"></i> Reject </button>

    </div>
    <div class="inline">
        <button type="button" class="btn flagged" data-bind="click: function () { saveStatus(2); }"><i class="fa fa-flag-checkered space " aria-hidden="true"></i> Flag </button>
    </div>
    <div class="inline">
      <button type="button" class="btn approved" data-bind="click: function () { saveStatus(3); }"><i class="fa fa-check-square-o space" aria-hidden="true"></i> Approve </button>
    </div>
  
    
    <div class="gap"></div>
</div>

{% endblock %}

{% block javascript %}
{{ block.super }}
<link href="{{STATIC_URL}}css/toastr.css" rel="stylesheet">
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/knockout.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ko_lib.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/plugin/toastr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/App.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/forms/alter_status.js?v=1.10"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/knockout-file-bindings.js"></script>


<script>

$(document).ready(function() {
var fxf = "{{fxf.pk}}";
var ins = location.hash.split("#/")[1];

 vm = new StatusViewModel(fxf, ins);

 ko.applyBindings(vm);
});

</script>

<script>

function locationHashChanged() {
  var new_ins = location.hash.split("#/")[1];
  if (typeof vm !== 'undefined') {
    vm.model(new ChangeStatus(new_ins, 0, ""));
}
}

window.onhashchange = locationHashChanged;
</script>



<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.pagination.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/sammy-0.7.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/sammy-plugins/sammy.meld-0.7.1.min.js"></script>

<script type="text/javascript">
var formJSONUrl = "{% url 'forms:download_jsonform' fxf.pk %}";
var mongoAPIUrl = "{% url 'forms:mongo_view_api'  fxf.pk %}";
var deleteAPIUrl = "{% url 'forms:delete_data'  fxf.pk %}";
var app; // sammy app
var questions = {};
var languages = [];
// TODO: this re should only accept valid js variable names so numbers/letter/underscore
var cleanRe = /[\[\]\/]/g; // regular expression used to clean names with slashes
var cleanReplacement = '_';
var positionTpl = "{% trans 'Record {pos} of {total}' %}";
var numRecords = null;
var browsePos = null;

var canEdit = false;

(function($) {

  var _isFirstLoad = true

  app = $.sammy('#data', function() {
      this.use('Meld');

      // index route
      this.get('#/', function(context) {
          /// get the first response object
          // only re-direct if this is the first time
          if(_isFirstLoad)
              redirectToFirstId(context)
          else
              history.go(-2)// we first load instance, then redirect to instance#/ then to instance#/:id s we need to go back 2
          _isFirstLoad = false
      });

      // #/id route
      this.get('#/:id', function(context) {
          var id = this.params['id'];
          var query = '{"_id": ' + id + '}';
          _isFirstLoad = false
          loadData(context, query, canEdit);
      });

      // #uuid/uuid route
      this.get('#uuid/:uuid', function(context) {
          var uuid = this.params['uuid'];
          var query = '{"_uuid": "' + uuid + '"}';
          _isFirstLoad = false
          loadData(context, query, canEdit);
      });


      // Delete modal
      this.get('#del/:id', function(context) { with(this) {

            $("#delete-modal").modal("show");

      }
      });


      // Delete route
      this.get('#delete/:id', function(context) {

          var id = this.params['id'];
          var next = $('li.next').children('a').attr('href');
          next = next.replace("#/", "");

          var prev = $('li.prev').children('a').attr('href');
          prev = prev.replace("#/", "");
          var redirect_route = '#/';

          if(next > 0 && next != id ){
              redirect_route = '#/'  + next;
          }
          else if(prev > 0 && prev != id ){
              redirect_route = '#/'  + prev;
          }
          else {
              // Deleting the last instance
              redirect_route ='#data-view/';
          }

          deleteData(context, id, redirect_route);
      });
      this.bind('error', {}, function(){
          //alert('Invalid route requested')
          //app.setLocation('#/');
      })

      // Redirect to Data View route
     
  });

  /// load form structure
  $.getJSON(formJSONUrl)
      .success(function(data){
              parseQuestions(data.children);
              parseLanguages(data.children);
              // load count
              $.getJSON(mongoAPIUrl, {'count': 1})
                  .success(function(data){
                          //todo: count num records before and num records after so we know our starting point
                          numRecords = data[0]["count"];
                          // load id of first record
                          app.run('#/');
                      })
          });

})(jQuery);

function _attachment_url(name, size)
{
    return '{% url "onadata.apps.viewer.views.attachment_url" %}' + size + '?media_file=' + '{{ username }}/attachments/' + name;
}

</script>

<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/instance.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('#loading')
        .ajaxStart(function() {
            $(this).show();
        })
        .ajaxStop(function() {
            $(this).hide();
        });
});
</script>
{% endblock %}
